// Must
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
meta(name='description', content='A simple chat application that acts more like live conversation than a memory forever on the internet')
meta(name='keywords', content='socialmedia, chat, application, messaging, messenger,')

// Android
meta(name='theme-color', content='teal')
meta(name='mobile-web-app-capable', content='yes')

// iOS
meta(name='apple-mobile-web-app-title', content='Chatlooly by elooly.com')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='default')

// Windows
meta(name='msapplication-navbutton-color', content='teal')
meta(name='msapplication-TileColor', content='teal')
//meta(name='msapplication-TileImage', content='ms-icon-144x144.png')
//meta(name='msapplication-config', content='browserconfig.xml')

// Pinned Sites
meta(name='application-name', content='Application Name')
meta(name='msapplication-tooltip', content='Tooltip Text')
meta(name='msapplication-starturl', content='/')


// imagemode - show image even in text only mode
meta(name='imagemode', content='force')

// Orientation
meta(name='screen-orientation', content='portrait')

// Splash screern
link(rel='apple-touch-startup-image', href='img/splash/ios/Default@2x~iphone~comany.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='img/splash/ios/Default@2x~iphone~comany.png', media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='img/splash/ios/Default@2x~ipad~comanypng', media='(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='img/splash/ios/Default@2x~ipad~comany.png', media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='img/splash/ios/Default@2x~ipad~anyany.png', media='(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='img/splash/ios/Default@2x~ipad~anyany.png', media='(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)')
link(rel='apple-touch-startup-image', href='img/splash/ios/Default@2x~ipad~anyany.png', media='(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)')

