extends layout.pug
block scripts
    
block content
    .container
        .row.justify-content-sm-center
            .col-12.col-md-8.col-lg-6(style="margin-top:50px;")
                h1 Welcome to Chatlooly
                p Chatlooly is a very simple chat application that is 100% anonymous 
                    | and has no long term memory. Like real life, when you leave a room everything 
                    | that was said is left only in the memory of those who were there.
                