/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
 * Define vars
 */
/*
 * Reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Basic Styles
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #f7f7f7;
  overflow: hidden; }

.header, .message-creator {
  background-color: #fff; }

/*
 * Top Bar
 */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000; }

.nav {
  margin: 8px; }

.logo {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25em; }

/*
 * Messages
 */
.message-container {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 40px;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden; }

#messages {
  display: flex;
  width: 100vw;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-end; }

.message {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: #ee0099;
  color: #333;
  max-width: 60vw; }

.them {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start; }

.you {
  background-color: #ededed;
  color: #333;
  order: 0;
  flex: 0 1 auto;
  align-self: flex-end; }

.server {
  background-color: #f7f7f7;
  font-size: .85em;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #aaa;
  flex: 0 1 auto;
  align-self: stretch; }

.message_username {
  font-size: .7em;
  text-transform: uppercase;
  font-weight: bold; }

/*
 * Message Creator
 */
.message-creator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #fff;
  box-shadow: 0 -3px 15px rgba(100, 100, 100, 0.2); }

#message-creator {
  display: flex; }

#new-message {
  order: 0;
  flex: 1 2 auto;
  align-self: stretch;
  border-width: 0;
  padding: 12px 16px;
  font-size: 14px; }

.btn {
  padding: 12px 16px;
  display: inline-block;
  border-width: 0;
  font-size: 14px; }

.btn-primary {
  background-color: #ee0099;
  color: #fff; }
