/*
 * Define vars
 */
 
// Colors
$primary: #008080; //Teal

//Greys
$grey100: #f7f7f7;
$grey200: #ededed;
$grey300: #aaa;
$grey500: #888;
$gre700: #333;

$black: #111;
$white: #fff;
 
 
// Dimensions
$header-height: 50px;
$footer-height: 40px;
$side-margin: 8px;