/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'includes/vars';
@import 'includes/reset';

/*
 * Basic Styles
 */
body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: $grey100;
}
a{
  color: $primary;
}

/*
 * Top Bar
 */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  height: $header-height;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  background-color: $primary;
  text-align: center;
}
.nav{
  margin: $side-margin;
}
.logo{
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size:1.25em;
}

/*
 * Messages
 */
.message-container {
  position: absolute;
  top: $header-height;
  left: 0px;
  right: 0px;
  bottom: $footer-height;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}
#messages{ 
  width: 100vw;
  padding-top:20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-end;
  
}
.message{
  padding: $side-margin;
  margin: 8px;
  border-radius: 4px;
  background-color: $primary;
  color: #333;
  max-width: 60vw;
  overflow-wrap: break-word;
}
.them{
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
}
.you{
  background-color: $grey200;
  color: #333;
  order: 0;
  flex: 0 1 auto;
  align-self: flex-end;
}
.server{
  background-color: $grey100;
  font-size: .85em;
  padding: 0px;
  margin-top:5px;
  margin-bottom: 5px;
  color: $grey300;
  flex: 0 1 auto;
  align-self: stretch;
}
.message_username{
  font-size: .7em;
  text-transform: uppercase;
  font-weight: bold;
}

/*
 * Message Creator
 */
.message-creator {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: $footer-height;
  background: #fff;
  box-shadow: 0 -3px 15px rgba(100, 100, 100, 0.2);
  background-color: $white;
}
#message-creator{
  display: flex;
}
#new-message{ 
  order: 0;
  flex: 1 2 auto;
  align-self: stretch;
  border-width: 0;
  padding: 12px $side-margin*2;
  font-size: 14px;
}
.btn{
  padding: 12px 16px;
  display: inline-block;
  border-width: 0;
  font-size: 14px;
}
.btn-primary{
  background-color: $primary;
  color: #fff;
}
